.UploadPhoto--button, .UploadPhoto--button-1 {
    width: 100px;
    height: 100px;
    border-radius: 24px;
    background: var(--gray_color);
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.UploadPhoto--button img {
    margin: 0 auto 15px auto;
}

.UploadPhoto--button-1 img {
    margin: 0 auto;
}

.UploadPhoto--container {
    text-align: center;
}

.UploadPhoto--container p {
    font-size: 16px;
    color: var(--yellow_color);
    margin-top: 16px;
}